/* banner section start */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
.banner_part {
  background-image: url('../resources/Banner\ Image.png');
  padding: 185px 344px 344px 169px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 50px 140px 120px 140px;
  border-radius: 16px;
}
.banner_title {
  font-size: 32px;
  font-weight: 400;
  font-family: var(Merriweather);
  color: lightgreen;
  font-family: 'Merriweather', serif;
  text-align: center;
  margin: 0 auto;
}
.banner_part_two {
  width: 632px;
  color: lightgreen;
  text-align: center;
  margin: 0 auto;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
}
.title_head {
  color: lime;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 88px;
  font-weight: 700;
}
.title_head_two {
  color: lime;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-top: 48px;
  margin-bottom: 16px;
}
.title-head-threw {
  color: #070211;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 48px;
  font-weight: 700;
}
.section_img {
  width: 802.9px;
  height: 500px;
  margin: 0 auto;
  text-align: center;
  margin-top: 48px;
}
.inner_banner {
  padding: 126px 138px 67px 126px;
  margin: 120px 140px;
  background-image: url(../resources/Vectorrr.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
}
.inner_banner_head {
  width: 642px;
  color: #fff;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  font-family: 'Merriweather', serif;
}
.inner_bennar_description {
  width: 697px;
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 24px;
  margin-bottom: 48px;
}
.join_section a {
  color: #fff;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  transition: all linear 0.3s;
}
.join_section a:hover {
  color: lime;
}
.new_park_hotel {
  margin: 120px 140px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  padding: 100px 385px 110px 386px;
}
.new_park_hotel {
  text-align: center;
}
.park_hotel {
  color: #070211;
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}
.head_color {
  color: lime;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}
.hotel_button {
  width: 167px;
  height: 56px;
  line-height: 56px;
  text-align: center;
  border: none;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 8px;
  background: lime;
  margin-top: 48px;
  cursor: pointer;
  transition: all linear 0.3s;
}
.hotel_button:hover {
  background: red;
  color: #fff;
  letter-spacing: 0.1px;
}
.new_best_offer_part {
  display: flex;
  justify-content: space-between;
  background: #fff;
  margin: 120px 140px;
}
.best_offer {
  color: lime;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 500;
}
.best_offer_two {
  color: #070211;
  font-family: 'Merriweather', serif;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin-top: 16px;
  margin-bottom: 22px;
}
.offer_description {
  width: 393px;
  color: rgba(7, 2, 17, 0.6);
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
.offer_img {
  width: 463px;
  height: 463px;
  flex-shrink: 0;
  border-radius: 463px;
  border: 15px solid lime;
  display: flex;
  justify-content: center;
  align-items: center;
}
.year {
  font-family: 'Inter', sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: lime;
}
.year_description {
  width: 276px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  margin-top: 16px;
  margin-bottom: 43px;
}
.offer_img_two {
  width: 140px;
  height: 140px;
}
.funtion_part {
  margin: 120px 140px;
  padding-top: 68px;
  padding-bottom: 62px;
}
.funtion_title {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #070211;
  text-align: center;
}
.Holidays {
  color: lightcoral;
}
.funtion_title_two {
  color: #070211;
  font-family: 'Merriweather', serif;
  font-size: 72px;
  font-weight: 900;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 28px;
}
.funtion_description {
  width: 882px;
  text-align: center;
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  line-height: 32px;
  color: rgba(7, 2, 17, 0.6);
  font-weight: 500;
}

.img_section_one {
  width: 429px;
  height: 433px;
  border-radius: 16px 16px 0px 0px;
  background: url(<path-to-image>),
    lightgray -59.98px 0px / 151.553% 100% no-repeat;
}

.img_section {
  display: flex;
  justify-content: space-around;
}
.boder_row {
  width: 1320px;
  height: 229px;
  border-radius: 16px 0px 16px 16px;
  background: #f00;
  text-align: center;
  margin: 0 auto;
  margin-top: 1000px;
}
